body {
  background: linear-gradient(to bottom, #fef9f5, #adb2f9);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  background-color: #fcfcfc;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 700px;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5em;
}

.aaa {
  background-color: #4e4f52;
  box-shadow: inset 5px 10px 10px rgba(18, 18, 18, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: #c5dbf7;
}


.zzz {
  background-color: #b8b7b3;
  width: 100%;
  height: 0.5%;
  margin: 10px 0 20px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #c5dbf7;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

input {
  border: 2px solid #b5a9a5;
  width: 90%;
  height: 5%;
  border-radius: 8px;
  padding: 0.6em 1em;
  margin: 5px;
}

button {
  background-color: #5234e6;
  color: #f9f7f1;
  border-radius: 8px;
  border: none;
  padding: 0.6em 1em;
  margin: 5px;
  font-size: 13px;
  font-weight: 500;
}
